/* CSS Document */

*{margin:0px; padding:0px;}

body
{
	
	padding-top:30px;
}

#mkbar
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:30px;
	background-color:#0CF;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	z-index:300;
	background-repeat:no-repeat;
	border-bottom-color:#EEE;
	border-bottom-width:3px;
	border-bottom-style:solid;
	
}

#mkbar #loading
{
	
	position:absolute;
	margin-left:50%;
	margin-top:7px;
	background-image:url(../images/loader.gif);
	background-repeat:no-repeat;
	
	width:25px;
	height:25px;
	
}

#mkbar #notf
{
	
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:5px;
	text-shadow: 0.01em 0.01em 0.01em #999;
	font-family:Georgia, "Times New Roman", Times, serif; 
	
	font-size:12pt;
	color:#222222;
	
}


#mkbar #mkpin
{

	width:25px;
	height:25px;
	position:absolute;
	margin-left:25px;
	margin-top:2px;
	background-image:url(../images/pinon.png);
}