/* CSS Document */

*{margin:0px; padding:0px; 	font-family:'Myriad Pro';  font-size:18px;}

a img
{
	border:none;	
}

body
{
	background-color:#9a9db5;
}

.wrapper
{
	margin-top:50px;
	width:900px;
	margin-left:auto;
	margin-right:auto;	
	padding-top:5px;
	padding-bottom:50px;

}

h1{
	margin-left:auto;
	margin-right:auto;	
	font-size:48px;
	text-align:center;
	color:#C30;	
}


.contents
{
	-moz-border-radius: 9px;
	border-radius: 9px;
	border-width:3px;
	border-style:solid;
	border-color:#c0c2d1;
	width:900px;
	margin-top:40px;
	background-color:#ffffff;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:25px;
	padding-top:5px;
	
	
}

.menu
{

	margin-top:30px;

	margin-left:auto;
	margin-right:auto;
	width:900px;
	height:50px;
	-moz-border-radius: 15px;
	border-radius: 15px;	
	padding-top:10px;
	padding-bottom:10px;
}

.menu .menubut
{
	-moz-border-radius: 9px;
	border-radius: 9px;
	border-width:3px;
	border-style:solid;
	border-color:#c0c2d1;
	color:#ffffff;
	width:200px;
	height:60px;
	background-color:#4e5169;
	float:left;
	text-align:center;
	margin-top:5px;
	margin-right:25px;
	cursor:pointer;
	font-size:24px;

	
}

.menu .menubut div
{
	color:#ffffff;
	font-family:'Myriad Pro';
	font-size:24px;
}

#logoff
{
	margin-right:0px;
}

#logoff div
{
	margin-top:15px;

}

#submitb
{

	width:75px;
	height:30px;
	background-color:#4e5169;
	border:none;
	margin-top:20px;
	color:#ffffff;
	font-size:14px;
	
}


.chng
{
	width:200px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}

.chng label
{
	width:120px;
	height:20px;
	Display:block;
	float:left;
	margin-top:10px;
	color:#4e5169;
}
.chng input
{
	width:200px;
	height:20px;
	Display:block;
	float:left;
	color:#4e5169;

	-moz-border-radius: 5px;
	border-radius: 5px;
}



.contents h2
{
	margin-top:25px;
	color:#4e5169;
	margin-left:25px;
	font-size:24px;
}


.tbl
{
	-moz-border-radius: 10px;
	border-radius: 10px;
	color:#fff;	
	background-color:#9a9db5;
	margin-left:auto;
	margin-right:auto;
	width:860px;
	margin-top:25px;
	padding-bottom:10px;
	

}

.tbl td
{
	text-align:center;
	font-size:20px;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c0c2d1;
	color:#fff;	

}

.tbl td p
{
	width:300px;
	word-wrap: break-word;
	font-size:20px;
	color:#fff;	
}

.tbl textarea
{
	width:300px;
	height:100px;
	font-size:18px;
	
}

#subm
{
	
	background-image:url(../images/Save.png);
	background-color:#695c44;
	border:none;
	width:16px;
	height:16px;
	cursor:pointer;
}

.norm
{
	color:#8bc9dd;
}
.mod
{
	color:#96dd8b;
}
.crit
{
	color:#dd4646;
}

.time
{
	color:#cceddb;
}

.tbl th
{
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:20px;
	color:#ffffff;
	background-color:#4e5169;

	
}


.tbl #empty
{
	border:none;
	background-color:transparent;

	
}

a
{
	text-decoration:none;	
}


